body {
    background: #f9f7f2;     
    overflow-x: hidden;
}

.right{
    padding: 30px 85px 0px 0px;
 }
 .middle{
     list-style: none;
 }
 .right a{
    color: rgba(27,23,22,1);
    letter-spacing: 0.08em;
    font-size: 16px;
    text-align: center;
    font-family: 'Karla';
    font-style: normal;
}
.middle a{
       
    color: rgba(27,23,22,1);
    font-size: 36px;
    font-family: 'Karla';
    font-weight: 700;
    font-style: normal;
}
.left{
    padding: 30px 0px 0px 85px;
}

.left a{
    color: rgba(27,23,22,1);
    letter-spacing: 0.08em;
    font-size: 16px;
    text-align: center;
    font-family: 'Karla';
    font-style: normal;
}

@media (max-width:767px) {
     .left {
        padding: 0;
  }

     .navbar .middle{
        text-align: center;
        padding: 0;
  }
  .navbar .middle a{
    font-size: 20px;
  }
 .right{
    padding: 0;
}
.navbar-collapse{
background: #F9F7FB;
}
}

a.nav-link {
  color: #1b1716;
}
.navbar{
    position: relative;
    
}
section .brand-message{
    padding:5% 20% 0% 5%;
    align-self: flex-end;
}
section {
    margin: 100px 0;
}
.brand-message h3{
    font-weight: normal;
    font-size: 17px;
    text-transform: uppercase;
    writing-mode: vertical-rl;
}
.brand-message .text {

    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 25px;
    font-family: 'Vidaloka';
    
}
  .brand-message  .btn-learn{
    
    border-radius: 0;
    width: 200px;
    padding: 15px 50px; 
    display: inline-block;
    background: white;
    color:#000;
    padding: 15px 50px; 
    text-transform: uppercase; 
}


    @media (max-width:1090px) {
        .brand-message h3{
        writing-mode:inherit ;
        top: 30px;
         margin-bottom: 30px;
      

    }
}
  
.img .img-fluid {
    position: relative;
    width: 100%;
    height: 75vh;
    object-fit:cover;
  
}
 .col-lg-6 .col-md-12 .img {
    padding-right: 0px;
    padding-left:0px;
 }


.marley .header{
width:300px;   
font-size: 18px;
font-weight: 400;   
font-family: 'Vidaloka';


 }


   .marley-message .btn-learn{
    
    border-radius: 0;
    width: 200px;
    height: 50px;
    font-size: 12px;
    padding: 5px 50px;
    text-transform: uppercase;
    color: white;
    background: black;
    margin: 0 auto;
    vertical-align: middle;
}


.marley-img .img-container{
            position: relative;
            background: red;
            width: 100%;
            padding-top:80%;
            z-index: 1;  
}

.img-container .img-fluid {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
            
        }

.marley-message h3{
 width: calc(100vw - 100px);
            display: block;
            font-size: 7vw;
            z-index: 2;
}
.marley-message {

    padding: 5% 15% 5% 5%; 
    z-index: 2;
    align-self: center;
}


 .bg  {
background-color: rgba(255,255,255,1);
}


.head{
        text-transform: uppercase;
    font-size: 55px;
    text-align: center;
}
.line    {
       
    border-bottom: 2px solid rgba(159,102,63,1);
    width:300px;
    font-size: 14px;
    text-align: right;
    font-family: 'Lato';
    font-weight: 300;
    font-style: normal;
    align-self: flex-end;
    text-transform: uppercase;
    
}

.container-img{
    padding: 10% 15% 15% 10%;
}
.marley2-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.marley2-message{
padding: 5% 0% 5% 20%;
}   
.action1 , .action2 , .action3{
    margin: 30px;
}


.experience-img{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
    

    .experience-msg{
     padding: 1% 24% 0% 5%;
    z-index: 2;
    align-self: flex-end;
    }

   
    .experience-msg h3{
    width: calc(100vw - 100px);
    display: block;
    font-size: 7vw;
    z-index: 2;
   
    }
       .experience-msg h2{
  margin-top: 50px;
  margin-bottom: 50px;
   
    }
    .experience .img-container {
            position: relative;
            background: red;
            width: 100%;
            padding-top: 100%;
            z-index: 1;  
}
.experience-msg .btn-learn {
    margin-top: 50px;
    border-radius: 0;
    width: 250px;
    display: inline-block;
    background: white;
    color: #000;
    padding: 15px 50px;
    text-transform: uppercase;
    font-size: 14px;
    justify-content: center;
    text-align: -webkit-center;
}






.linefeature   {
       
    border-bottom: 1px solid rgba(159,102,63,1);
    font-size: 14px;
    text-align: center;
    font-family: 'Lato';
    font-weight: 300;
    font-style: normal;
    align-self: flex-start;
    text-transform: uppercase;
    
}
 .featuredwork-msg{
   padding: 10% 20% 5% 5%;
    align-self: flex-end;
       }
    
 
.featuredwork-msg h1{
    font-size: 75px;
}
.featuredwork-msg h3{
    margin-top: 10px;
    margin-bottom: 10px;
}
.linefeature .btn-learn {
    border-radius: 0;
    width: 250px;
    display: inline-block;
    background: #f9f7f2;
    color: #000;
    padding: 15px 50px;
    text-transform: uppercase;
    font-size: 14px;
    text-align: -webkit-center;
}

.featuredwork-img{
    position: relative;
    width: 100%;
    object-fit:cover;
}
/*.header h3{
    font-weight: normal;
    font-size: 26px;
    text-transform: uppercase;
    writing-mode: vertical-rl;
  
}*/


.capsule h1{
    color: rgba(159,102,63,1);
    text-transform: none;
    font-size: 60px;
}
.capsuletxt{
          padding: 0% 25% 0% 25%;
}

.capsuletxt .btn-learn {
    border-radius: 0;
    width: 250px;
    padding: 15px 50px;
    display: inline-block;
    background: white;
    color: #000;
    padding: 15px 50px;
    text-transform: uppercase;
     font-size: 14px;
    text-align: -webkit-center;
}
.capsuletxt p{
    padding: 0% 10%;
}


.carousel img {
   
     position: relative;
            width: 100%;
            height: 100%;
            object-fit:cover;
}

 .items {
    display: flex;
    left: 250px;
    font-size: 12px;
    flex-wrap: wrap;
   
    }
    .item {
        width: calc(15% - 16px);
        background: #f5f5f5;
        margin: 2px;
       
    }

    .item img {
        width: 100%;
        height: 200px;
        object-fit: cover;
    }
   .carousel .items {
        width: calc(100% - 300px);
        padding: 15 ;
    }

 
    
    @media (max-width: 1000px) {
       .carousel  .item {
            width: calc(23.33% - 26%);
        }
        .carousel .items {
            width: 100%;
           
        }
        .featuredwork-msg {
    padding: 0;
    }

      .footer .footericons {
    padding: 0;
    }

    }

    @media (max-width: 750px) {
       .carousel  .item {
            width: calc(50% - 4px);
        }
         .carousel .items {
     width: 100%;
    
    }
    .item img {
        width: 100%;
        height: 300px;
        object-fit:cover;
    }
    }

    @media (max-width: 500px) {
        .carousel .item {
            width: calc(100% - 4px);
        }
        
        .carousel .items {
     width: 100%;
     
    }
   
}


/************************* Mobile responsive *********************************/

      @media (max-width: 480px) {
          
        
/***************** Brand Message Section  responsive***********************/      
        .brand-message .text{
            font-size: 2vh;
        }
        .brand-message .btn-learn {
            font-size: 11px;
            width: 150px;
            padding: 15px;
        }
        section .brand-message {
        padding: 0;
        text-align: center;
        }

/***************** Marley Message Section  responsive***********************/     
        .marley-message {
           padding:0;
            text-align: center;
        }
        .marley-message .text{
            font-size: 2vh;

        }
        .marley-message h2{
            font-size: 3vh;
            
        }
        .marley-message .btn-learn{
        border-radius: 0;
        width: 150px;
        height: 39px;
        font-size: 10px;
        padding:0;
        text-transform: uppercase;
        color: white;
        background: black;
        margin: 9px auto;
        vertical-align: middle;
        }
/***************** Marley2 Section  responsive***********************/     
.marley2-message {
    padding: 0;
}
.action1, .action2, .action3 {
   margin:0;
}
.line {
   
    font-size: 10px;
}
/***************** experience Section  responsive***********************/     
.experience-msg {
    padding: 0;
    text-align: center;
}
.experience-msg h3{
        font-size: 3.5vh;

}
.experience-msg h2{
    font-size: 3vh;
}
.experience-msg .text
 {
    font-size: 1.5vh;
}
.experience-msg .btn-learn {
    margin-top: 50px;
 
    width: 200px;
}
/***************** Capsule Section  responsive***********************/
section .capsule{
    margin: 20px 0;
}        
.capsuletxt  {
           padding:0;
        }
        .capsule h1{
            font-size: 3vh;
        }
        .capsuletxt p {
         padding:0;
        }
      
    .capsuletxt .btn-learn {
    font-size:11px;
    width: 150px;
        padding: 15px;
}

    .text h1{  font-size: 3vh;

    }
     .header h3 , .text h3{  font-size: 2vh;

    }
     .text h1{  font-size: 3vh;

    }
/***************** Linefeature Section responsive ***********************/
    .linefeature .btn-learn {
     font-size:11px;
    width: 150px;
        padding: 15px;
    
    }
/***************** Footer Section responsive ***********************/
.footer .footericons h1{

      font-size: 3vh;
        padding-bottom: 20px;
}
.footer .footermsg {
    padding: 0;
}
.footer .footermsg h1{
    font-size: 3vh;
    padding-bottom:20px;
}
.footer .footermsg p {
    
    font-size: 1.8vh;
}
.footer .footericons p{

      font-size: 1.5vh;
    
}
.footer .bottomtext
{
    margin-bottom: 20px;
font-size: 2vh;
display:grid;
}
.footerline {
    
    width: auto;
   
}

      }


/***************** Footer Section  ***********************/

.footericons .icons{
       display: flex;
    flex-wrap: wrap;
}

.icons .icon{
          margin: 9px 4px;
}
.bottomtext{
    display: flex;
}
.bottomtext P{
    font-size: 10px;
    padding: 0px 6px;
    
}
.footericons{
        padding: 21px 110px 0px 48px;
}
.footericons  h1{

      font-size: 50px;
    padding-bottom: 47px;
}

.footerbtns {
    display: table-caption;
}
    .footerbtns .btn{
    color: #a06740;
    font-size: 14px;
    font-family: 'Karla';
    font-weight: 700;
    font-style: normal;
}   

.footerline{
    border-bottom: 1px solid rgba(159,102,63,1);
    width: 330px;
    font-size: 14px;
    text-align: right;
    font-family: 'Lato';
    font-weight: 300;
    font-style: normal;
    align-self: flex-end;
    text-transform: uppercase;
}

.footermsg{
           padding: 36px 216px 9px 1px;
}


